@mixin top-left {
    position: absolute;
    top: 0;
    left: 0;
}
@mixin top-right {
    position: absolute;
    top: 0;
    right: 0;
}
@mixin bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}
@mixin bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}
@mixin full {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
@mixin fill-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
@mixin right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
@mixin left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
@mixin top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
@mixin bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
@mixin clearFix {
    display: block;
    content: '';
    clear: both;
}
@mixin text-align-justify {
    text-align: justify;
    text-align-last: justify;
}
@mixin text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}