@import "colors.scss";
* {
    margin: 0;
    padding: 0;
    border: none;
    -webkit: {
        appearance: none;
        tap-highlight-color: transparent;
    }
}
input, button, textarea {
    outline: none;
}
textarea {
    resize: none;
}
a {
    text-decoration: none;
}
.el-form-item {
    .el-form-item__label {
        @include TC1;
    }
    .el-input,.el-select {
        .el-input__inner {
            @include TC1;
            border-color: $C3;
            &:focus {
                border-color: $C3;
            }
            &:hover {
                border-color: $C3;
            }
        }
    }
    &.is-error {
        .el-input,.el-select {
            .el-input__inner {
                border-color: #ff4949;
            }
        }
    }
}